*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: -1;
}

#logo{
    position: fixed;
    margin-bottom: 35rem;
    padding-left: 2px;
    padding-top: 5px;
}
 
 
#Menu-Btn{

    color: aliceblue;
    text-shadow: 3px 3px 6px rgb(52, 52, 52);
    font-family: Protest Revolution, sans-serif;
    font-size: 2.5rem;
    margin-top: 2rem;
    margin-left: 25px;
}
#Menu-Btn-link{
    color: aliceblue;
    text-shadow: 3px 3px 6px rgb(52, 52, 52);
    font-family: Protest Revolution, sans-serif;
    font-size: 2.5rem;
    margin-top: 2rem;
     
    
    
}
nav .sidebar{
    position: absolute;
    color: aliceblue;
    margin-top: .4rem;
    margin-left: 25px;
    width: 190px;
    left: -100%;
    height: 100%;
    padding: 16px 0;
    
    
    font-size: 3rem;
    transition: all 0.5s ease;
}
nav.open .sidebar{
    left: 0%;

}


.sidebar-content .list{
    list-style: none;
    padding: 25px 2px;
}
.list .nav-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    
    color: aliceblue;
    text-shadow: 3px 3px 6px rgb(52, 52, 52);
    font-family: Protest Revolution, sans-serif;
    font-size: 2rem;
}
#span-Id{
    font-size: 2.5rem;
}
.nav-link:hover{
    /* background-color:aliceblue; */
    color: black;
    border-radius: .5rem;
    text-shadow: 2px 2px 2px rgb(255, 247, 247);
}


.nav-link .menu-icon{
    margin-right: 15px;
    
}

#nav-section{
    position: fixed;
    width: 225px;
    height: 1000vh;
    
    
    color: aliceblue;
     font-size: 3rem;
}
#BgGreet{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    color: rgb(229, 229, 229);

}

/* #time{
    font-size: 8rem;
} */

h1{
 margin-bottom: -28rem;
font-size: 3rem;
font-family: Protest Revolution, sans-serif;

text-shadow: 3px 3px 5px rgb(0, 0, 0);


border-radius: .5rem;

}

#links-to-social{
   padding-top: 40px; 
border: 2px 2px black;
   
}

#social-icons{
    color: aliceblue;
    
    font-size: 3rem;
    
    border-radius: .7rem; 
}
#social-icons:hover{
    color: rgb(0, 0, 0);
    
    font-size: 3rem;
    background-color: aliceblue;
    border-radius: .5rem;
}
a{
    text-decoration: none;
    
}
.about-info{
    background-image: url("static/adrien-olichon-wI96vLftzkE-unsplash.jpg");

    font-size: 2.2rem;
    text-shadow: 3px 3px 2px black;
    
    border-radius: 6rem;

    width: 600px;
    height: 285px;
}
#about-p{
    position: relative;
    padding-top: 60px;
    margin: auto;
    text-align: center;
    font-size: 2.2rem;
    text-shadow: 3px 3px 2px black;
}